@charset "ISO-8859-1";
.required-field::after{ 
  content: "*";
  color: red;
 
}
*{
	background-color: rgb(64, 128, 128);
}
.option{
	color: white;
}
.error{
	color: red;
}
.invalid-feedback{
	text-align:left;
	
}